[Unit]
Description=Archlogo
DefaultDependencies=no
Before=sysinit.target systemd-ask-password-console.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=tty
EnvironmentFile=/etc/archlogo.conf
WorkingDirectory=/usr/share/archlogo
ExecStart=/usr/bin/cat "${ARCHLOGO}"
