[Unit]
Description=Archlogo
DefaultDependencies=no
Before=sysinit.target systemd-ask-password-console.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=tty
ExecStart=/usr/lib/systemd/scripts/archlogo
